.home-wrapper {
    display: flex;
    min-height: 100vh;
  
}

.body-container{
    flex: 1;
    position:relative;
    margin-left: 30px; /* Ancho del sidebar expandido */
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}


.card {
    width: 200px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: #65a4b8;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* Efecto de brillo en hover */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    transition: 0.5s;
}

.card:hover::before {
    left: 100%;
}

.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;  /* Espacio entre elementos */
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no hay espacio */
    width: 100%;
    padding: 10px;
}

.vertical {
    flex: 1;  /* Toma el espacio restante */
    margin-left: 20px;  /* Espacio adicional desde el sidebar */
    margin-top: 60px;
    
}